.DS_Store
.vscode
*.o
csc-to-matlab
matlab-to-csc
mkl-matrix-inv
mpi-matrix-inv
build
commitlint.config.js
julia/mkl-matrix-inv_example/*.txt
julia/mkl-matrix-inv_example/*.log
julia/mpi-matrix-inv_example/*.cp
julia/mpi-matrix-inv_example/*.val
julia/mpi-matrix-inv_example/*.ri
julia/mpi-matrix-inv_example/*.txt
julia/mpi-matrix-inv_example/*.log
node_modules/
package-lock.json
package.json
.cache/
